:root {
    --bodycolour: rgb(245, 245, 245);
    --backgroundcolor: rgb(245, 245, 245);
}

body {
    background-color: var(--bodycolour);
}

.nav-container {
    display: flex;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
}

.nav {
    /* the nav hover thing that is visible */
    line-height: 0;
    display: flex;
    font-family: IBM Plex Mono;
    font-size: 25px;
    font-weight: bold;
    background-color: var(--bodycolour);
    justify-content: center;
    width: 15vw;
    border-style: solid;
    border-width: 0.4em;
    border-color: #64c247;
    border-radius: 0.2em;

}

/* TD */
#nav-text {

    color: hsl(0, 0%, 77%)
}

/* : */
#nav-colon {
    color: #32373b;

}

/* 00 */
#nav-numbers {
    color: #64c247;

}




#nav-right,
#nav-left {
    cursor: pointer;
    font-family: open sans, sans-serif;
    display: none;
    border-radius: 0.2em;
    background-color: #64c247;
    justify-content: center;
    width: 5vw;
    align-items: center;
    animation-duration: 0.60s;
    animation-fill-mode: forwards;

}

#nav-left {
    animation-name: nav-anim-left;
}

#nav-right {
    animation-name: nav-anim-right;

}




@keyframes nav-anim-left {
    0% {

        opacity: 0;
        color: rgba(0, 0, 0, 0);
        transform: translateX(5vw);
    }

    65% {
        color: rgba(0, 0, 0, 0);
    }

    100% {

        opacity: 1;

    }
}

@keyframes nav-anim-right {
    0% {
        opacity: 0;
        color: rgba(0, 0, 0, 0);
        transform: translateX(-5vw);
    }

    65% {
        color: rgba(0, 0, 0, 0);
    }

    100% {
        opacity: 1;
    }

}

.nav-container:hover #nav-right {
    opacity: 0;
    display: flex;
}

.nav-container:hover #nav-left {
    display: flex;

}

.control,
.left-right,
#display-time {
    /* centers things in the middle */
    display: flex;
    justify-content: center;
}




/* buttons for changing days */
#left {
    color: #32373b;
    cursor: pointer;
    position: relative;
    /* use top and left to ajust */
    align-content: flex-start;
    justify-content: flex-start;
    margin-right: auto;
}

#right {
    color: #32373b;
    cursor: pointer;
    position: relative;
    align-content: flex-end;
    justify-content: flex-end;
    margin-left: auto
}

#display-time {
    font-family: IBM Plex Mono, sans;
    color: #42484d;
    font-weight: 400;
}

.btn {
    background-color: #64c247;
    border-style: none;
    font-family: open sans;
    font-size: 1em;
    font-weight: 600;
    cursor: pointer;
    color: #32373b;
    padding: 0.5em 1em 0.5em 1em;
}


.box {
    /* holds the div for the day */
    display: flex;
    justify-content: center;
    box-shadow: -10px 12px 14px 0px #64c247;

    font-family: open sans, sans-serif;
    background-color: white;
    margin: 2em;
    padding: 0.5em 1em 0.5em 1em;
    color: #2f3337;
    border-radius: 1em;

}

.span {
    /* the div for the time input */
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}